<% layout('layouts/boilerplate')%>

<h1>Edit Stock</h1>
<form action="/portfolio/<%=stock._id%>?_method=PUT" method="POST">
    <div>
        <label for="name">Name of Stock</label>
        <input type="text" id="name" name="stock[name]" value="<%=stock.name %>">
    </div>
    <div>
        <label for="ticker">Ticker</label>
        <input type="text" id="ticker" name="stock[ticker]" value="<%=stock.ticker %>">
    </div>
    <div>
        <label for="price">Price</label>
        <input type="number" id="price" name="stock[price]" value="<%=stock.price %>">
    </div>
    <div>
        <label for="IV">Intrinsic Value</label>
        <input type="text" id="IV" name="stock[IV]" value="<%=stock.IV %>">
    </div>
    <div>
        <label for="category">Category</label>
        <input type="text" id="category" name="stock[category]" value="<%=stock.category %>">
    </div>

    <button>Update Campground</button>
</form>

<a href="/portfolio/<%= stock._id%>">Back To Stock</a>

