<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ee Hsin's Stock Portfolio</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Economica:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">   
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/navbar_footer.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <%- include('../partials/favicon')%>
</head>

<body class="d-flex flex-column vh-100">
    <%- include('../partials/navbar')%>
    <main class="container-fluid mt-5">
        <%- include('../partials/flash')%>
        <h1>The Portfolio:</h1>
        <div class="container-fluid">
            <div class="row">
                    <% if (currentUser && currentUser._id == adminId) { %>
                        <a href ="/portfolio/new">Add New Stock</a>
                    <% } %>
                    <div class="card col-md-6 col-lg-3" id="overallReturnsCard">
                        <div class="row">
                            <div class="col">
                                <div class="card-body" id ="">
                                    <h2 style="font-size:3rem;">Total Returns so Far:</h2>
                                    <p class="card-text">Takes 5-10 Seconds to Load</p>
                                    <h2><b class = "loading" id="totalReturns">Loading...</b></h2>
                                    <h2>S&P 500 Returns:</h2>
                                    <p class="card-text">(Over Same Time Period)</p>
                                    <h2><b class = "loading" id="sp500Returns">Loading...</b></h2>
                                    <a class="btn btn-primary" id="guideLink" href="/guide">View Guide</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% for (let stock of stocks) {%>
                        <div class="card col-md-6 col-lg-3" style="font-size: 1rem">
                            <div class="row">
                                <div class="col">
                                    <div class="card-body" id ="<%= stock._id %>">
                                        <img class="img-fluid mb-2" alt="" src="<%=stock.images[0].url%>">
                                        <h5 class="card-title"><%= stock.name %> --> <small class="text-muted">(<%= stock.category%>)</small></h5>
                                        <p class="card-text">
                                            Ticker Symbol: <%= stock.ticker %> 
                                        </p>
                                        <p><%= stock.description.split(' ').slice(0,6).join(' ') + '...' %></p>
                                        <!--Run a function here where you take stock.ticker, make a request to API, and then get the returns from there.-->
                                        <p>My Returns: <b class="loading">Loading...</b></p>
                                        <a class="btn btn-primary" href="/portfolio/<%=stock._id%>">View <%=stock.name%></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% }%>
            </div>
        </div>
    </main>
    <%- include('../partials/footer')%>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>
        
    <script src="/javascripts/validateForms.js"></script>
    <script src="/javascripts/loadingReturns.js"></script>
</body>

</html>