<% layout('layouts/boilerplate')%>
<h1>The Portfolio:</h1>

<% if (currentUser && currentUser._id == adminId) { %>
    <a href ="/portfolio/new">Add New Stock</a>
<% } %>
<% for (let stock of stocks) {%>
    <div class="card" mb-3>
        <div class="row">
            <div class="col-md-4">
                <img class="img-fluid" alt="" src="<%=stock.images[0].url%>">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title"><%= stock.name %> </h5>
                    <p class="card-text">
                        <small class="text-muted"><%= stock.category%></small>
                    </p>
                    <p class="card-text"><%= stock.description %></p>
                    <a class="btn btn-primary" href="/portfolio/<%=stock._id%>">View <%=stock.name%></a>
                </div>
            </div>
        </div>
    </div>
<% }%>