<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ee Hsin's Stock Portfolio</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Economica:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/navbar_footer.css">
    <link rel="stylesheet" href="/css/show_page.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>

</head>
<body class="d-flex flex-column vh-100">
    <%- include('../partials/navbar')%>
    <main class="container my-5 ">
        <%- include('../partials/flash')%>
        <div class="container-fluid main-block p-5">
            <div class="row">
                <div class="col-md-5">
                    <div class="row title">
                        <div class="col-md-4 mb-0">
                            <h1><%= stock.name %></h1>
                        </div>
                        <div class="col-md-5 col-lg-7 offset-md-1 mt-auto mb-0 ticker">
                            <h2 class="pb-0"> (Ticker: <a href = "https://finance.yahoo.com/quote/<%=stock.ticker%>"><%= stock.ticker %></a>)</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5 mr-2 mb-2 secondary-title bottom-border pb-0">
                            <h2>Current Price: $<%= stock.vCurrentPrice %></h2>
                            <% if(!currentUser) {%>
                                <h2>Intrinsic Value: N/A</h2>
                            <% } %> 
                            <% if(currentUser) {%>
                            <h2 id = "IV">Intrinsic Value: $<%= stock.IV %></h2>
                            <% } %> 
                        </div>
                        <div class="col-md-5 mr-2 mb-2 secondary-title bottom-border">
                            <div class="col pb-0 ">
                                <% if(!currentUser) {%>
                                    <h2>LOGIN TO VIEW INTRINSIC VALUE</h2>
                                    <% } %> 
                                <% if(currentUser) {%>
                                    <% if (stock.discount<0){%>
                                        <h2>Current Discount: <span class = "undervalued"><%=stock.discount%>%</span></h2>
                                    <% } else if (stock.discount < 0.25){ %>
                                        <h2>Current Discount: <span class = "signif-undervalued"><%=stock.discount%>%</span></h2>
                                    <% } else { %>  
                                        <h2>Current Discount: <span class = "overvalued"><%=stock.discount%>% (Overvalued)</span></h2>
                                    <% } %>
                                <% }%>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="row performance-section">
                        <div class="col-md-5 offset-md-1 mr-2">
                            <h2 class="returns-label">Performance YTD:</h2>
                            <% if (stock.vReturnsYTD>0){%>
                                <h2 class="returns-positive">+<%=stock.vReturnsYTD%>%</h2>
                            <% } else { %> 
                                <h2 class="returns-negative"><%=stock.vReturnsYTD%>%</h2>
                            <% } %>
                        </div>
                        <div class="col-md-4 mr-2">
                            <h2 class="returns-label">Total Returns:</h2>
                            <% if (stock.vReturns>0){%>
                                <h2 class="returns-positive">+<%=stock.vReturns%>%</h2>
                            <% } else { %> 
                                <h2 class="returns-negative"><%=stock.vReturns%>%</h2>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
            <HR style = "border-bottom: outset rgba(234,187,155,255) solid 0.15rem;">
            <div class="row">
                <div class="col-md-5">
                    <div class="d-flex flex-column">
                        <div class = "mb-2 bottom-border">
                            <h3>Stock Category: <b><%=stock.category%></b></h3>
                        </div>
                        <div class="">
                            <h3>Description:</h3>
                        </div>
                        <div class="">
                            <p><%= stock.description %></h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 offset-md-1">
                    <h3>Last 12 Months Weekly Closing Prices</h3>
                    <canvas id="chart" width="100" height = "100"></canvas>
                </div>
            </div>
            <HR style = "border-bottom: outset rgba(234,187,155,255) solid 0.15rem;">
            <div class="row">
                <ul>
                    <li>Current Ratio: <%=stock.financials.currentRatio%></li>
                    <li>Debt/Equity: <%=stock.financials.debtOverEquity%></li>
                    <li>LT Debt/Equity: <%=stock.financials.longTermDebtOverEquity%></li>
                    <li>ROE: <%=stock.financials.returnOnEquity%></li>
                    <li>EPS Growth Past 5Y: <%=stock.financials.epsPast5Y%></li>
                </ul>
            </div>
        </div>
        <a href="/portfolio">Back to Portfolio</a>

        <% if (currentUser && currentUser._id == adminId) { %>
        <p>
            <form action="/portfolio/<%=stock._id%>?_method=DELETE" method="POST">
                <button>Delete</button>
            </form>
        </p>
        <div>
            <a href="/portfolio/<%= stock._id%>/edit">Edit Stock</a>
          <% } %>
        </div>
        <script src="/javascripts/chartingData.js"></script>
    </main>
    <%- include('../partials/footer')%>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>
        
    <script src="/javascripts/validateForms.js"></script>
</body>

</html>