<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ee Hsin's Stock Portfolio</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Economica:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/navbar_footer.css">
    <link rel="stylesheet" href="/css/show_page.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>

</head>
<body class="d-flex flex-column vh-100">
    <%- include('../partials/navbar')%>
    <main class="container my-5 ">
        <%- include('../partials/flash')%>
        <div class="container-fluid main-block p-5">
            <div class="row">
                <div class="col-md-5">
                    <div class="row title">
                        <div class="col-md-4 mb-0">
                            <h1><%= stock.name %></h1>
                        </div>
                        <div class="col-lg-5 offset-md-1 mt-auto mb-0 ticker">
                            <h2 class="pb-0"> (Ticker: <a href = "https://finance.yahoo.com/quote/<%=stock.ticker%>"><%= stock.ticker %></a>)</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5 mr-2 mb-2 secondary-title bottom-border pb-0">
                            <h2 id = "currentPrice" class = "loading">Loading...</h2>
                            <h2>Avg Cost: $<%= stock.price %></h2>
                        </div>
                        <div class="col-md-5 mr-2 mb-2 secondary-title bottom-border">
                            <div class="col pb-0 ">
                                <% if(!currentUser) {%>
                                    <h2>Intrinsic Value: N/A</h2>
                                <% } %> 
                                <% if(currentUser) {%>
                                <h2 id = "IV">Intrinsic Value: $<%= stock.IV %></h2>
                                <% } %> 
                                <% if(!currentUser) {%>
                                    <h2 id = "restricted">*LOGIN TO VIEW INTRINSIC VALUE*</h2>
                                    <% } %> 
                                <% if(currentUser) {%>
                                    <h2 id = "discount">Current Discount: <span class = "loading">Loading...</span></h2>
                                <% }%>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="row performance-section">
                        <div class="col-md-5 offset-md-1 mr-2">
                            <h2 class="returns-label">Performance YTD:</h2>
                            <h2 class = "loading">Loading...</h2>
                        </div>
                        <div class="col-md-4 mr-2">
                            <h2 class="returns-label">Total Returns:</h2>
                            <h2 class = "loading">Loading...</h2>
                        </div>
                    </div>
                </div>
            </div>
            <HR style = "border-bottom: outset rgba(234,187,155,255) solid 0.15rem;">
            <div class="row">
                <div class="col-md-5">
                    <div class="d-flex flex-column">
                        <div class = "mb-2">
                            <h3>Portfolio Allocation:</h3>
                            <h3 id = "portfolioAllocation" class = "loading">Loading...</h2>
                        </div>
                        <div class = "mb-2 bottom-border">
                            <h3>Stock Category: <b><%=stock.category%></b></h3>
                        </div>
                        <div class="">
                            <h3>Description:</h3>
                        </div>
                        <div class="">
                            <p><%= stock.description %></h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <h3>Last 3 years Weekly Closing Prices</h3>
                    <canvas class = "mr-auto" id="priceChart" height = "60" width = "60"></canvas>
                </div>
            </div>
            <HR style = "border-bottom: outset rgba(234,187,155,255) solid 0.15rem;">
            <div class="row mb-3 pb-2 bottom-border">
                <div class="col-md-3">
                    <h3>Return on Equity: </h3>
                    <h3 class = "loading" id="ROE">Loading...</h3>
                    <details> <summary class = "bottom-border">Criteria for ROE</summary>
                        An ROE of 15% and above is a great business. Though note, some great business (like Mcdonalds and most restaurant
                        companies) will fail this step due to having negative equity as they are taking on lots of LT debt to take 
                        advantage of low interest rates. 
                    </details>
                </div>
                <div class="col-md-3" >
                    <h3>Current Ratio:</h3>
                    <h3 class="loading" id="currentRatio">Loading...</h3>
                    <details> <summary class = "bottom-border">Criteria for Current Ratio</summary>
                        Current Ratio is Current Assets/Current Liabilities, a value over 1 is safe.
                    </details>
                </div>
                <div class="col-md-3">
                    <div class = "mb-2">
                        <h3>Debt/Equity:</h3>
                        <h3 id="debtOverEquity" class="loading">Loading...</h3>
                        <details> <summary class = "bottom-border">Criteria for Debt/Equity</summary>
                            In most cases, it should not exceed 1.50 to be safe, but it more so depends on how good the Debt-to-EBITDA ratio is.
                            <b>Note:</b> If it is 0.00, check the ROE to see if Equity is Negative. A Debt/Equity ratio fo 0.00, either means the company has no debt,
                            or it has negative equity.
                        </details>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class = "mb-2">
                        <h3>Debt-To-Ebitda:</h3>
                        <h3 id="DTE" class="loading">Loading...</h3>
                        <details> <summary class = "bottom-border">Criteria for Debt-To-Ebitda</summary>
                            This represents how long it takes for a company to pay off all its debt. A number lower than 3 is safe, meaning we generally want companies
                            that can pay off all their debt in 3 years or less. 
                        </details>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h3 class = "returns-label">EPS Growth Past 5Y:</h3>
                    <h3 id="epsPast5Y" class="loading">Loading...</h3>
                    <details> <summary class = "bottom-border">Criteria for Historical EPS Growth</summary>
                        This really depends on the individual Company. If we're looking at a Large Cap Growth Company, historical earnings growth (in most cases) should be 15%+.
                        If it is a Large Cap Predictable, making it more defensive, anything from 5 to 10% is reasonable. 
                    </details>
                </div>
                <div class="col-md-8">
                    <canvas id="epsChart" height = "15" width = "15"></canvas>
                </div>
            </div>
        </div>
        <a href="/portfolio">Back to Portfolio</a>

        <% if (currentUser && currentUser._id == adminId) { %>
        <p>
            <form action="/portfolio/<%=stock._id%>?_method=DELETE" method="POST">
                <button>Delete</button>
            </form>
        </p>
        <div>
            <a href="/portfolio/<%= stock._id%>/edit">Edit Stock</a>
          <% } %>
        </div>
    </main>
    <%- include('../partials/footer')%>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>
        
    <script src="/javascripts/validateForms.js"></script>
    <script src="/javascripts/loadingData.js"></script>
    <script src="/javascripts/chartingData.js"></script>

</body>

</html>